.card {
  position: relative;
  padding: 0 20px;
  padding-top: 16px;
  padding-bottom: 40px;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 20px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    height: 256px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-radius: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-radius: 40px;
  }
}

.photo {
  margin: 0 auto;
  border-radius: 20px;

  @media screen and (min-width: 1280px) {
    border-radius: 40px;
  }
}

.trash-btn {
  position: absolute;
  top: 272px;
  right: 16px;
  padding: 0;
  border: none;
  background-color: inherit;

  @media screen and (min-width: 768px) {
    top: 20px;
    right: 20px;
  }
}

.trash-icon {
  stroke: var(--color-blue);
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding-top: 20px;
  font-size: 14px;
  line-height: calc(19 / 14);
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding: 0;
    row-gap: 16px;
  }

  @media screen and (min-width: 1280px) {
	padding: 0;
    font-size: 16px;
    line-height: calc(22 / 16);
  }
}

.info-type {
  font-weight: 700;
}
