.section {
  margin: 0 20px;
  padding-top: 40px;

  @media screen and (min-width: 768px) {
    margin-left: 33px;
    margin-right: 32px;
  }

  @media screen and (min-width: 1280px) {
  	padding-top: 0;
  }
}

.section-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 20px;
  }
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(27 / 20);
  color: var(--text-color-primary);

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: calc(38 / 28);
  }
}

.add-pet {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 9px 16px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: var(--text-color-white);
  background-color: var(--color-blue);
}

.plus-icon {
  stroke: var(--text-color-white);
}
