.logOutContainer {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 77px 12px;

    font-style: normal;
    letter-spacing: 0.04em;

    color: var(--color-black);

}


.logOutTitle {

    font-weight: 500;
    font-size: 24px;
    line-height: 33px;

    margin-left: calc(50% - 200px/2);
    margin-bottom: 40px;

}


.logOutBtnContainer {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;
    
}


.cancellogOutBtn {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 256px;
    height: 40px;
    letter-spacing: 0.04em;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    border-radius: 40px;
    border: 2px solid var(--color-blue);

    color: var(--color-blue);
    background: var(--color-white);

    cursor: pointer;

}

.cancellogOutBtn:hover,
.cancellogOutBtn:active,
.cancellogOutBtn:focus {
    background: linear-gradient(290.46deg, #419EF1 0%, #9BD0FF 107.89%);
    color: var(--color-white);
}



.yeslogOutBtn {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 8px;

    width: 256px;
    height: 40px;
    letter-spacing: 0.04em;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    border: none;
    border-radius: 40px;
    color: var(--background-color);
    background: var(--color-blue);

    cursor: pointer;
}

.yeslogOutBtn:hover,
.yeslogOutBtn:active,
.yeslogOutBtn:focus {
    background: linear-gradient(290.46deg, #419EF1 0%, #9BD0FF 107.89%);
}


.yeslogOutSvg {

    fill: var(--background-color);
}


@media (max-width: 768px) {

    .logOutContainer{
        padding: 108px 155px;
        letter-spacing: -0.01em;
    }

    .logOutTitle{
        font-size: 36px;
        line-height: 49px;
        margin-bottom: 48px;
    }

    .logOutBtnContainer{

        flex-direction: row;
    }

}

