.text {
    float: left;
    /* width: 70px;
        height: 15px; */
    text-align: left;
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.35;
    letter-spacing: 0.04em;
    margin-right: auto;

    @media screen and (min-width: 768px) and (max-width:1280px) {
        font-size: 18px;
    }

}

.input {
    align-items: center;
    padding: 4px 12px;
    border: 1px solid var(--color-blue);
    border-radius: 20px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    height: 28px;

    @media screen and (min-width: 768px) {
        width: 255px;
    }

    @media screen and(min-width: 768px) {
        height: 32px;
    }
}
.input:focus {
    outline: none;
}

.input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.38;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--color-black);

    @media screen and (min-width:768px) and (max-width:1280px) {
        font-size: 16px;
    }
}

.field {
    margin-bottom: 14px;
    clear: both;
    text-align: right;
    align-items: center;

    @media screen and (min-width:768px) and (max-width:1280px) {
        display: flex;
    }
}

.field:last-child {
    margin-bottom: 21px;
    @media screen and (min-width:768px) and (max-width:1279px) {
            margin-bottom: 0;
        }
}

.wrapper {
    position: relative;
}

.input-icon {
    position: absolute;
    right: 12px;
    top: 6px
}