/* Стили для мобильных устройств */
@media screen and (max-width: 767px) {
    .logoWrapperM {
        display: none;
    }

    .logoWrapperS {
        display: initial;
        padding-top: 8px;
        /* margin-right: 160px; */
        max-width: 480px;
    }
}

/* Стили для планшетов и десктопов */
@media screen and (min-width: 768px) {
    .logoWrapperS {
        display: none;
    }

    .logoWrapperM {
        display: initial;
        padding-top: 8px;
        /* margin-right: 167px; */
    }
}