@media screen and (max-width: 420px) {
    .logoWrapperS {
        display: initial;
        display: none;
        padding-top: 8px;
        margin-right: 167px;
        max-width: 480px;
        }
}

@media screen and (min-width: 768px) {
    .logoWrapperM {
        display: initial;
        display: none;
        padding-top: 8px;
        margin-right: 167px;
    }
}

@media screen and (max-width: 1280px) {
    .logoWrapperM {
        display: initial;
        display: none; 
        padding-top: 10px;
        margin-right: 0;
    }
}


