/* import mobile2x_1 from '../../image/main_img/1mobile2x.png'
import tablet2x_1 from '../../image/main_img/1tablet2x.png'
import desktop2x_1 from '../../image/main_img/1desktop2x.png'
import mobile2x_2 from '../../image/main_img/2mobile2x.png'
import tablet2x_2 from '../../image/main_img/2tablet2x.png'
import desktop2x_2 from '../../image/main_img/2desktop2x.png'
import mobile2x_3 from '../../image/main_img/3mobile2x.png'
import tablet2x_3 from '../../image/main_img/3tablet2x.png'
import desktop2x_3 from '../../image/main_img/3desktop2x.png' */

.mainContainer{
    display: flex;
    flex-direction: column;
    width:100%;
    min-height: 100vh;
    /* background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../image/bg_mobile2x.png');

    
}
.mainTitle{
  
}


.imageContainer{
  
}

.imageOne{
 
  
}

.imageTwo{
 
}

.imageThree{

}



@media(min-width:768px){
    .mainContainer{
        background-image: url('../../image/bg_tablet2x.png');
    }
    .mainTitle{

    }
    .imageContainer{
   
       
    }
    .imageOne{

    }
    .imageTwo{

    }
    .imageThree{
     
    }
}

@media(min-width:1280px){
    .mainContainer{
        /* background-image: url('../../image/bg_desktop2x.png'); */
        flex-direction: row;
    }
    .mainTitle{

    }
    .imageContainer{
      
    }
    .imageOne{

    }
    .imageTwo{
      
    }
    .imageThree{
   
    }
    
