.congratzContainer{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    

    width: 100%;
    padding: 68px 16px 60px;
    
    font-style: normal;
    letter-spacing: 0.04em;
}


.congratzTitle{
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    
    padding: 0;
    margin-top: 0px;
    margin-bottom: 24px;

    color: var(--color-black);
    
}



.congratzDescr{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    
    margin-bottom: 40px;

    color: var(--color-black);
    
}



.congratzBtn{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 0;
    width: 248px;
    height: 40px;
    letter-spacing: 0.04em;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    
    border: none;
    border-radius: 40px;
    color: var(--background-color);
    background: var(--color-blue);
    
    cursor: pointer;

}
.congratzBtn:hover,
.congratzBtn:active,
.congratzBtn:focus {
    background: linear-gradient(290.46deg, #419EF1 0%, #9BD0FF 107.89%);
}

.svg_pawPrint{
    fill: var(--background-color);
}

@media (max-width: 768px) {

    .congratzContainer{

        padding: 60px auto 60px;
    }

    .congratzTitle{

        font-size: 36px;
        line-height: 49px;
        margin-bottom: 40px;
    }

    .congratzDescr{

        font-size: 24px;
        line-height: 33px;
        margin-bottom: 48px;
    }

}