.backDrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(87, 86, 86, 0.6);
  overflow-y: scroll;
  z-index: 101;

}


.modalWindow {

  position: absolute;
 /*  top: 50%;
  left: 50%; */
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 360px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

  background-color: var(--color-white);
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);

}

.closeBtn {

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 14px;
  right: 14px;
  height: 24px;
  width: 24px;

  background-color: transparent;
  color: var(--text-color-primary);

  border: none;
  cursor: pointer;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.closeBtn:hover,
.closeBtn:active,
.closeBtn:focus {

  transform: scale(1.2);

}

.svg_closeBtn {
  position: absolute;
  top: 0;
  left: 0;
  fill: currentColor;
  stroke: currentColor;
}



@media (max-width: 768px) {
  
  .backDrop{

    background-color: rgba(39, 39, 39, 0.6);
  }

  .modalWindow {
  
    width: fit-content;
    border-radius: 40px;
    top: 7%;
    max-width: 704px;
  
  }
  
  .closeBtn {
  
    top: 24px;
    right: 24px;
  }

}

@media (max-width: 1280px) {

  .backDrop {

    background-color: rgba(43, 43, 43, 0.6);
  }

}