.logoutContainer {
    margin-top: 42px;
    margin-right: 8px;
    margin-left: auto;
    margin-bottom: 20px;
    width: 89px;

    @media screen and (min-width:768px) {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 24px;
        width: 89px;
    }

    @media screen and (min-width: 1280px) {
        margin-left: 0;
        margin-bottom: 0;
    }
}

.button {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.37;
    letter-spacing: 0.04em;
    color: #888888;
    border: none;
    background-color: transparent;
    cursor: pointer;

}