.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  line-height: calc(22 / 16);
  letter-spacing: 0.04em;
  margin-left: 270px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 20px;
  }
}

.login {
  width: 165px;
  padding: 8px 20px 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  border-radius: 40px;
  font-weight: 700;
  color: var(--color-yellow);
  /* background-color: var(--color-yellow); */
  background-color: var(--text-color-white);
  border: 2px solid var(--color-yellow);
}

.login:hover,
.login:focus {
      background-color: var(--color-yellow);
      /* Фон при наведении */
      color: var(--text-color-white);
      /* Цвет текста при наведении */
}

.paw-icon {
  fill: var(--color-yellow);
}

.paw-icon:hover {
  fill: var(--text-color-white);
}

.register {
  width: 165px;
  display: inline-block;
  padding: 7px 0;
  border: 2px solid var(--color-yellow);
  border-radius: 40px;
  text-align: center;
  font-weight: 600;
  color: var(--color-yellow);

  @media screen and (min-width: 768px) {
    width: auto;
    padding: 8px 20px;
  }
}

.register:hover,
.register:focus {
      background-color: var(--color-yellow);
      /* Фон при наведении */
      color: var(--text-color-white);
      /* Цвет текста при наведении */
      }

