.contentWrapper{
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
    }

@media(min-width:768px) { 
    .contentWrapper{
        min-height: calc(100vh - 79px);
        /* ::after {
            min-height: 79px;
        } */
     }

    }
@media(min-width:1280px) {
    .contentWrapper {
        min-height: calc(100vh - 77px);
        /* ::after {
        min-height: 77px;
        } */
    }                   

} 




