.contentWrapper{
    min-height: 100vh;
    ::after {
        content: '';
        display: block;
        min-height: 0;
    }
}
@media(min-width:768px) { 
    .contentWrapper{
        min-height: calc(100vh - 79px);
        /* ::after {
            min-height: 79px;
        } */
    }
}

@media(min-width:1280px) {
    .contentWrapper {
        min-height: calc(100vh - 77px);
        /* ::after {
        min-height: 77px;
        } */
    }                   

}




