/* @import-normalize; */ /* bring in normalize.css styles */

:root {
  --background-color:#FEF9F9;
  --background_btn-color:#CCE4FB;
  --background_gradient:linear-gradient(290.46deg,#419EF1 0%,#9BD0FF 107.89%);
  --box-shadow_main:3px 8px 14px rgba(136,198,253,0.19);
  --box-shadow_secondary:7px 13px 14px rgba(116,177,232,024);
  --color-white: #ffffff;
  --color-black: #111111;
  --color-yellow:#FFC107;
  --color-blue: #54ADFF;
  --color-gradient_blue:#419EF1;
  --color-light_blue:#CCE4FB;
  --color-green: #00C3AD;
  --color-red: #F43F5E;
  --color-grey:#888888;
  --color-gradient_red:#FF8356;
  --color-gradient_yellow:#FFC107;
  
  --text-color-primary: #000000;
  --text-color-blue: #54ADFF;
  --text-color-white:#FEF9F9;

  --transition-main: cubic-bezier(0.445, 0.05, 0.55, 0.95);


 
}

body {
  margin: 0;
  font-family:'Manrope',sans-serif;
  font-weight: 500;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  display: block;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
li {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none
}
