.navItem {
    text-decoration: none;
}

.navList {
    display: flex;
    justify-content: space-evenly;
}

.navItem {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
}